{% extends "admin/base.html" %}

{% block content %}
<div class="container bg-dark bg-gradient">
<hr>
<div class="row">
<h3 class="text-primary" >Add about list</h3>
<div class="col-12">
<form action="/admin/aboutlist" method='POST'>
    <input type="text" class="form-control my-2" name="about_list_desc" placeholder="about list ">
    <input type="submit" class="btn btn-primary btn-lg" value="Add about list">
<hr>
</form>
</div>
<hr>
<div class="col align-self-center">
<h3 class="text-warning"> About list</h3>
<table class="table">
    <thead>
        <tr>
            <th class="text-warning">id</th>
            <th class="text-warning">Actions</th>
        </tr>
    </thead>
    <hr>
    </div>
    <div class="col align-self-end">
    <tbody>
        {% for list in lists %}

        <tr>
            <td  class="text-primary"  scope="row">{{list.id}}</td>
            <td class="text-primary" >{{list.about_list_desc}}</td>

            <td>
                <a href="/admin/aboutlistdelete/{{list.id}}"> <i class="fas fa-trash-alt"></i></a>
                <a href="/admin/aboutlistupdate/{{list.id}}"> <i class="fas fa-edit"></i></a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
     </div>
  </div>
 </div>

{% endblock %}