{% extends "admin/base.html" %}

{% block content %}
<div class="container bg-dark bg-gradient">
<hr>
<div class="row">
<h3 class="text-primary" >Add About End Desc</h3>
<div class="col-12">
<form action="/admin/aboutend" method='POST'>
    <input type="text" class="form-control my-2"name="about_end_desc"placeholder="  desc">  
    <input type="submit" class="btn btn-primary btn-lg" value="Add About End Desc">
<hr>
</form>
</div>
<hr>
<h3 class="text-warning"> About desc</h3>
<table class="table">
    <thead>
        <tr>
            <th class="text-warning">id</th>
            <th class="text-warning">About desc</th>
            <th class="text-warning">Actions</th>
        </tr>
    </thead>
    <hr>
</div>
<div class="col align-self-end">
    <tbody>
        {% for txt  in txts %}

        <tr>
            <td class="text-primary" scope="row">{{txt.id}}</td>
            <td class="text-primary" >{{txt.about_end_desc}}</td>
            <td>
                <a href="/admin/aboutenddelete/{{txt.id}}"> <i class="fas fa-trash-alt"></i></a>
                <a href="/admin/aboutendupdate/{{txt.id}}"> <i class="fas fa-edit"></i></a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
    </div>
  </div>
</div>


{% endblock %}