{% extends "admin/base.html" %}

{% block content %}
<div class="container-sm">
<hr>
<h3 class="text-primary"> Update About Heading</h3>
<form action="/admin/aboutheadingupdate/{{abouthead.id}}" method='POST'>
<input type="text" class="form-control my-2" name="about_heading" placeholder="head name"value="{{abouthead.about_heading}}">
<input type="text" class="form-control my-2" name="about_desc" placeholder="txt"value="{{abouthead.about_desc}}">
<input type="submit" class="btn btn-primary btn-lg " value=" About Heading Update">
<hr>
</form>
</div>

{% endblock %}