{% extends "admin/base.html" %}

{% block content %}

<div class="container bg-dark bg-gradient">
    <hr>
    <div class="row">
    <h3 class="text-primary">Add Contact Heading</h3>
    <div class="col-12">
<form action="/admin/contactheading" method='POST'>
    <input type="text" class="form-control my-2"name="contact_heading"placeholder="contact heading ">
    <input type="text" class="form-control my-2"name="contact_desc"placeholder="desc  ">    
    <input type="submit" class="btn btn-primary btn-lg" value=" Add Contact Heading ">
<hr>
</form>
</div>
<hr>
<div class="col-12">
<h3 class="text-warning"> Contact Heading</h3>
<table class="table">
    <thead>
        <tr>
            <th class="text-warning" >id</th>
            <th class="text-warning" > head</th>
            <th class="text-warning" > desc</th>
            <th class="text-warning" >Actions</th>
        </tr>
    </thead>
    <hr>
</div>
<div class="col align-self-end">
    <tbody>
        {% for contact  in contacts %}

        <tr>
            <td  class="text-primary" scope="row">{{contact.id}}</td>
            <td class="text-primary" >{{contact.contact_heading}}</td>
            <td class="text-primary" >{{contact.contact_desc}}</td>
            <td>
                <a href="/admin/contactheadingdelete/{{contact.id}}"> <i class="fas fa-trash-alt"></i></a>
                <a href="/admin/contactheadingupdate/{{contact.id}}"> <i class="fas fa-edit"></i></a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
     </div>
   </div>
</div>

{% endblock %}