{% extends "admin/base.html" %}

{% block content %}
<div class="container bg-dark bg-gradient">
<hr>
<div class="row">
<h3 class="text-primary" >Add Testimonial</h3>
<div class="col-12">
<form action="/admin/testi" method='POST'>
    <input type="text" class="form-control my-2" name="testi_number" placeholder="number ">
    <input type="text" class="form-control my-2" name="testi_heading" placeholder=" heading">
    <input type="text" class="form-control my-2" name="testi_title" placeholder=" desc">
    <input type="submit" class="btn btn-primary btn-lg" value="Add about text">
<hr>
</form>
</div>
<hr>
<div class="col align-self-center">
<h3 class="text-warning"> Testimonial</h3>
<table class="table">
    <thead>
        <tr>
            <th class="text-warning">id</th>
            <th class="text-warning">Number</th>
            <th class="text-warning">heading</th>
            <th class="text-warning">desc</th>
            <th class="text-warning">Actions</th>
        </tr>
    </thead>
    <hr>
    </div>
    <div class="col align-self-end">
    <tbody>
        {% for number in numbers %}

        <tr>
            <td  class="text-primary"  scope="row">{{number.id}}</td>
            <td class="text-primary" >{{number.testi_number}}</td>
            <td class="text-primary" >{{number.testi_heading}}</td>
            <td class="text-primary" >{{number.testi_title}}</td>

            <td>
                <a href="/admin/testidelete/{{number.id}}"> <i class="fas fa-trash-alt"></i></a>
                <a href="/admin/testiupdate/{{number.id}}"> <i class="fas fa-edit"></i></a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
     </div>
  </div>
 </div>

{% endblock %}